# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android related
**/android/**/generated/
**/android/gen/
**/android/out/
**/android/local.properties
**/android/project.properties
**/android/proguard-project.txt
*.keystore
*.jks

# iOS/macOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/macos/Flutter/GeneratedManual.xcconfig
**/macos/Flutter/ephemeral/
**/macos/Flutter/generated_main_targets.xcconfig
**/macos/Runner/GeneratedPluginRegistrant.[mh]
**/ios/.generated/
**/ios/Pods/
**/ios/Podfile.lock
**/macos/Pods/
**/macos/Podfile.lock

# Web related
lib/generated_plugin_registrant.dart

# Windows related
**/windows/flutter/ephemeral/
**/windows/flutter/generated_cache_config.cmake
**/windows/flutter/generated_config.cmake
**/windows/flutter/generated_cpp_plugin_registrant.cc
**/windows/flutter/generated_cpp_plugin_registrant.h

# Linux related
**/linux/flutter/ephemeral/
**/linux/flutter/generated_config.cmake
**/linux/flutter/generated_cpp_plugin_registrant.cc
**/linux/flutter/generated_cpp_plugin_registrant.h

# Environment variables
.env
.env.*
secret.json

# Tooling
pubspec-freezed.yaml

#Log files
analysis_options.yaml
analysis_final_check.txt
analysis_final_utf8.txt
analysis_output.txt
analysis_output_final.txt
analysis_utf8.txt